.MovieListingPage {
  display: grid;


  .MovieListingHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2em 2em;

    @media (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;

      input {
        margin-bottom: 1rem;
      }
    }
  }
}
