@import "./typography";

@import "./global";

@import "./navbar";

@import "./movieCard";

@import "./movieList";

@import "./movieListingPage";

@import "./search";

@import "./filter";

@import "./backdrop";

@import "./modal";

@import "./section";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  background: $primary;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  color: white;
  font-size: $fontSize;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 0.88rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  h4 {
    font-size: 1.2rem;
  }

  button,
  input {
    font-family: $fontFamily;
    font-size: $fontSize;
  }

  input {
    font-size: $fontSize;
  }
}
